apiVersion: v2
name: studio
description: A Helm chart for Kubernetes
type: application
version: 0.19.15
appVersion: "v2.219.0"
maintainers:
  - name: iterative
    email: support@iterative.ai
icon: "https://static.iterative.ai/logo/studio.svg"
dependencies:
  - name: redis
    condition: redis.enabled
    version: "23.2.12"
    repository: "https://charts.bitnami.com/bitnami"
  - name: postgresql
    condition: postgresql.enabled
    version: "18.1.9"
    repository: "https://charts.bitnami.com/bitnami"
  - name: clickhouse
    condition: clickhouse.enabled
    version: "9.4.4"
    repository: "https://charts.bitnami.com/bitnami"
  - name: vector
    condition: vector-agent.enabled
    version: "0.46.0"
    repository: "https://helm.vector.dev"
    alias: vector-agent
  - name: vector
    condition: vector-aggregator.enabled
    version: "0.46.0"
    repository: "https://helm.vector.dev"
    alias: vector-aggregator
