name: Create helm-docs

on:
  pull_request:
  merge_group:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }} @ ${{ github.ref }}'
  cancel-in-progress: true

jobs:
  helm-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.OLIVAW_GITHUB_PERSONAL_ACCESS_TOKEN }}

      - name: Run helm-docs
        working-directory: charts/studio/
        run: |
          docker run --pull always --rm --volume "$(pwd):/helm-docs" -u $(id -u) jnorwood/helm-docs:latest

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Helm-Docs update
          file_pattern: charts/studio/README.md

